.contacts-group {
	display: flex;
	margin-left: auto;
}

.navigation__logo {
	display: flex;
	align-items: center;
	padding-top: 24px;
	padding-bottom: 24px;
	margin-right: 93px;

	font-family: "Raleway", sans-serif;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: #000000;
}
.span {
	color: var(--logo-part-color);
}

.navigation__link {
	position: relative;
	display: flex;
	align-items: center;
	padding-top: 32px;
	padding-bottom: 32px;
	transition: color var(--animation-timing-function);
}

.link-decoration.current {
	transition: color var(--animation-timing-function);
}

.link-decoration.current {
	&::after {position: absolute;
	bottom: 0;
	left: 0;
	content: "";
	display: block;
	width: 100%;
	height: 4px;
	background-color: var(--focus-hover-color);
	border-radius: 2px;
	transition: color var(--animation-timing-function);}
	
}

.navigation__item:not(:last-child) {
	margin-right: 50px;
}

.navigation__list {
	display: flex;
	margin-right: auto;
}

.navigation {
	display: flex;
	align-items: center;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
}
header {
	border-bottom: var(--border-style);
}

.list .link-decoration {
	&:hover {color: var(--focus-hover-color);
	transition: color var(--animation-timing-function);}
	&:focus {color: var(--focus-hover-color);
	transition: color var(--animation-timing-function);}
	
}

.list .link-decoration.current {
	color: var(--focus-hover-color);
}

.contacts-group__list {
	display: inline-flex;
	justify-content: space-between;
	align-items: center;
	margin-left: auto;
	margin-right: 0;

	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--contact-list-color);
}

.contacts-group__item:not(:last-child) {
	margin-right: 50px;
	margin-left: auto;
}

.contacts-group__item {
	display: inline-flex;
}

.contacts-group__icon {
	display: inline-flex;
	margin-right: 10px;
	align-items: center;
	justify-content: center;
	fill: currentColor;
}

.navigation__link {
	&:hover {color: var(--focus-hover-color);
	transition: color var(--animation-timing-function);}
	&:focus {color: var(--focus-hover-color);
	transition: color var(--animation-timing-function);}
}