
%list {
	list-style: none;
}

%link-decoration {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}


%centeredFlex {
	display: flex;
    justify-content: center;
    align-items: center;
}

%textSizeTitle3 {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
}

%textMain {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
}

%title2 {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	letter-spacing: 0.03em;
}

%fieldWrap {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	transition: color var(--animation-timing-function);
}

%iconModale {
	position: absolute;
	display: flex;
	align-items: center;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

%focusHovericonMod {
	fill: var(--focus-hover-color);
	transition: fill var(--animation-timing-function);
}