
%list {
	list-style: none;
}

%link-decoration {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}


%centeredFlex {
	display: flex;
    justify-content: center;
    align-items: center;
}

%fieldWrap {
	position: relative;
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	transition: color var(--animation-timing-function);
}

%iconModale {
	position: absolute;
	display: flex;
	align-items: center;
	left: 12px;
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
}

%focusHovericonMod {
	fill: var(--focus-hover-color);
	transition: fill var(--animation-timing-function);
}

@mixin font ($fw, $fs, $lh, $ls) {
	font-weight: $fw;
	font-size: $fs;
	line-height: $lh;
	letter-spacing: $ls;
}


